<h2><%= @race.name %></h2>
<ul>
  <li>Classification: <%= @race.classification %></li>
  <li>Avg Height: <%= @race.race.average_height %></li>
  <li>Avg Lifespan: <%= @race.average_lifespan %></li>
  <li>Language: <%= @race.language %></li>
</ul>
<h3>Characters</h3>
<ul>
  <% @race.characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>
<h3>Films</h3>
<ul>
  <% @race.films.each do |film| %>
    <li><%= link_to film.name, film %></li>
  <% end %>
</ul>

<p><%= link_to 'Back', races_path%></p>