<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Star Wars Wiki-Fan</title>
</head>
<body>
  <h1>Welcome to Star Wars Wiki-Fan</h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Films", films_path %></li>
        <li><%= link_to "Characters", characters_path %></li>
        <li><%= link_to "Races", races_path %></li>
        <li><%= link_to "Planets", planets_path %></li>
        <li>About</li>
      </ul>
    </nav>
    <%= yield %>
    <footer>Star Wars and all associated names and/or images are copyright Lucasfilm Ltd. Images were freely collected from Wookiepedia.</footer>
</body>
</html>

